/* --------------------------------------------
  * Common style */

/* hidden text & content */
.offscreen,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ul element default style reset */
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* responsive content */
.respons {
  max-width: 100%;
  height: auto;
}

/* responsive content(width/height 100%) */
.respons-same {
  width: 100%;
  height: 100%;
}

/* RoundBar design */
.round-bar {
  display: inline-block;
  background-color: #24388d;
  border-radius: 20px;
  color: #c8cde2;
  font-size: 11px;
  padding: 3px 6px;
}

/* layout */
.container {
  width: 1440px;
  margin: 0 auto;
}
/* repsonive web design */
.img-rwd {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* button reset */
.button {
  background: transparent;
  border: 2px solid #FFFCF9;
  padding: 6px 25px;
  border-radius: 3px;
  display: inline-block;
}
/* hide text for ir technique */
.hide-text-ir {
  text-indent: -9999px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
/* go to top button */
.button-goToTop {
  background-color: rgba(226,119,98,1);
  cursor: pointer;
  position: fixed;
  z-index: 50;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0px 15px 14px rgba(172,85,53,0.3);
  transform: translateY(200px) scale(0);
  transition: all 0.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.is--btnActive {
  transform: none;
} 
.button-stroke {
  padding: 4px 20px;
  border: 1px solid currentColor;
  font-size: 1.6rem;
  border-radius: 3px;
}
.button-fill {
  border-radius: 3px;
}
.text-bold {
  font-weight: 700;
}

/* text */
.text-uppercase {
  text-transform: uppercase;
}

.text-separate {
  display: block;
}
.text-lowercase {
  text-transform: lowercase;
}
/* clearfix */
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

/* text */
.text-bold{
  font-weight: 700;
}
.text-light{
  font-weight: 300;
}