/* --------------------------------------------
  * 공통 클래스 */

/* 숨김 제목 및 콘텐츠 */
.offscreen,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 목록 요소 기본 스타일 초기화 */
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* 반응형 콘텐츠 */
.respons {
  max-width: 100%;
  height: auto;
}

/* 반응형 콘텐츠 ( 가로/세로 100% 유형 )*/
.respons-same {
  width: 100%;
  height: 100%;
}

/* RoundBar 디자인 */
.round-bar {
  display: inline-block;
  background-color: #24388d;
  border-radius: 20px;
  color: #c8cde2;
  font-size: 11px;
  padding: 3px 6px;
}

/* layout */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* repsonive web design */
.img-rwd {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* button reset */
.reset-button {
  background: transparent;
  border: 0;
  padding: 0;
}

.hide-text-ir {
  text-indent: 50px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
/* go to top button */
.button-goToTop {
  cursor: pointer;
  position: fixed;
  z-index: 50;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0px 15px 14px rgba(172,85,53,0.3);
  transform: translateY(200px) scale(0);
  transition: all 0.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button-goToTop svg path {
  fill: #fffcf9;
}
.button-goToTop svg circle {
  fill: #E27762;
}
.is--btnActive {
  transform: none;
} 


