/* curriculum section */
.curriculum {
  background: url(../img/home/curriculum__bg.jpg) no-repeat;
  background-size: cover;
  height: 540px;
}
.curriculum__container {
  position: relative;
  height: 100%;
}
/* circle */
.curriculum__circle {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  text-align: center;
  color: #7D6F5D;;
}
/* start symbol */
.star-stroke {
  fill: #A37356;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 30px;
}
/* article */
.curriculum__article {
  display: none;
}
.curriculum__article-title {
  font-size: 2.6rem;
}
.curriculum__article-text {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 25px;
}
/* circle hover */
.curriculum__circle:hover {
  width: 300px;
  height: 300px;
  padding: 66px 30px 0;
}
.curriculum__circle:hover .star-stroke {
  display: none;  
}
.curriculum__circle:hover .curriculum__article {
  display: block;  
}
