.notification {
    width: 600px;
    position: fixed;
    top: 780px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
    background: rgba(226, 119, 98, 0.9);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid rgba(255, 252, 249, 0.9);
    border-radius: 100px;
    color: rgba(255,252,249,1);
}

.notification__title {
    flex-grow: 1;   
    display: block;
}
.notification__date {
    margin-right: 40px;
}
.notification__button {
    padding: 0;
    border: 0;
    color: rgba(255,252,249,1);
    cursor: pointer;
}
.notification__close-icon,
.notification__sound-icon {
    width: 30px;
    height: 30px;
}
.notification__sound-button {
    margin-right: 15px;
}