.recommend-lecture {
    height: 620px;
}
.recommend-lecture__container {
    position: relative;
}
.recommend-lecture__tab-list {
    display: flex;
    align-items: flex-end;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(40,39,37,1);
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%)
}
.tab-1,
.tab-2 {
    padding: 22px 30px;
}

.tab-1 {

    flex-grow: 1.5;
    text-align: right;
}
.tab-2 {
    flex-grow: 1;
    background-color: rgba(40,39,37,1);
    color:  #FFFCF9;
    text-align: center;
    z-index: -1;
}

.recommend-lecture__icon {
    width: 15px;
    height: 8px;
    margin-left: 25px;    
}

.recommend-lecture__tab-contents {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%)
}
.recommend-lecture__tab-contents.is--active {
    z-index: 10;
}

.recommend-lecture__viewport {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 40px 0 95px;
    margin: 0 auto;
    position: relative;
}

.recommend-lecture__tab-content {
    width: 590px;
    height: 425px;
    border-radius: 6px;
    position: relative;
}
.recommend-lecture__slide1 .recommend-lecture__tab-content {
    background: url(../img/home/recommen-lecture__left-bg.jpg) no-repeat 50% 200%;
}
.recommend-lecture__slide2 .recommend-lecture__tab-content {
    background: url(../img/home/recommend-lecture__right-bg.jpg) no-repeat 0 0;
}
.recommend-lecture__content-container {
    width: 100%;
    background-color: #282725;
    border-radius: 0 0 6px 6px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgba(255,252,249,1);
}

.recommend-lecture__content-title {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}
.recommend-lecture__content-detail {
    display: none;
}
.recommend-lecture__content-detail .recommend-lecture__content-title {
    margin:0;
}

.recommend-lecture__content-detail.is--active {
    display: block;
    padding: 35px;
    color: #FFFCF9;
    background: rgba(40, 39, 37, 0.95);
    border-radius: 6px;
    position: relative;
}
.recommend-lecture__content-title {
    margin-top: 30px;
    font-size: 2.2rem;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.recommend-lecture__content-desc {
    font-size:1.8rem;
    margin: 10px 0 20px;
}
/* icon */
.recommend-lecture__content-review {
    font-size: 2.2rem;
    line-height: 30.8px;
    width: 300px;
    margin-bottom: 30px;
}
.recommend-lecture__content-review .recommend-lecture__content-icon.recommend-lecture__star-icon {
    position: initial;
    width: 30px;
    height: 30px;
}
.recommend-lecture__content-review .recommend-lecture__content-icon.recommend-lecture__star-icon:last-child {
    margin-right: 10px;
}
.recommend-lecture__content-container .button {
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.text-size-change {
    font-size: 2.8rem;
    line-height: 28px;
    margin-bottom: 10px;
}
/* table */
.recommend-lecture__info-table{
    border-top: 1px solid #FFFCF9;
    border-bottom: 1px solid #FFFCF9;
    font-size: 1.2rem;
    width: 100%;
}
.info-table__data-group {
    width: 100%;
    border-bottom: 1px solid #FFFCF9;
}
.info-table__data-group:last-child {
    border-bottom: 0;
}

.info-table__answer,
.info-table__question {
    padding: 13px 20px;
}

/* close button */
.content-detail__button {
    border: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 35px;
    right: 35px;
    padding: 0;
}
.content-detail__close-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Carousel */
.carousel__snapper {
    position: absolute;
    top: 235px;
    width: 13px;
    height: 24px;
}

.recommend-lecture__viewport .carousel__snapper:nth-last-child(3) {
    left: -100px;
}
.recommend-lecture__viewport .carousel__snapper:nth-last-child(2) {
    right: -100px;
}
.recommend-lecture__carousel-left-arrow-icon,
.recommend-lecture__carousel-right-arrow-icon {
    width: 100%;
    height: 100%;
}

.carousel__play-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform:translateX(-50%);
    width: 130px;
    height: 20px;
    display: flex;
}
.recommend-lecture__carousel-pause-icon {
    width: 13px;
    height: 20px;
}

.recommend-lecture__carousel-indic-active-icon {
    width: 38px;
    height: 14px;
    margin-top: 2px;
    position: absolute;
    left: 34px;
}

.carousel__navigation-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin-top: 2px;
    margin-left: 20px;
}
.carousel__navigation-item {
    width: 14px;
    height: 14px;
    background: rgba(40,39,37,0.4);
    border-radius: 50%;
    margin-right: 10px;
}
.carousel__navigation-button {
    width: 100%;
    height: 100%;
}
